@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 6%;
  --text: 210 6% 93%;
  --text-secondary: 0 0% 43%;
  --text-black: 0 0% 0%;
  --button: 66 100% 55%;
  --border: 0 0% 26%;

  --card-art: 190 95% 39%;
  --card-geo: 28 77% 43%;
  --card-bio: 326 58% 53%;
  --card-soc: 286 77% 43%;

  --low: 356 100% 67%;
  --average: 60 100% 80%;
  --high: 119 100% 50%;
}
